# AWS S3 Configuration
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=integrity-shield
AWS_S3_MAX_FILE_SIZE_BYTES=110000000

# Blockchain Configuration (Sepolia Testnet)
BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/your-infura-key
BLOCKCHAIN_PRIVATE_KEY="your-ethereum-private-key"
BLOCKCHAIN_API_KEY_SECRET=":your-api-key-secret"
BLOCKCHAIN_CONTRACT_ADDRESS="0x9075B7e735E44b8CD5b9487628c4D6291a197056"

# Mainnet RPC (read-only, for gas estimation)
BLOCKCHAIN_MAINNET_RPC_URL=https://mainnet.infura.io/v3/your-infura-key
